/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require foundation
 *= require_self
 */
  body {
 	background: url(symphony.png)
 }
 .container {
 	margin-top: 10%;
 }
 .contain-to-grid {
	background-color: rgba(47,42,49, 0.9);
	border-bottom: 1px solid rgba(30,27,31,0.9);
	
/*	background-color: rgba(153, 0, 28, 0.9);*/
}
 .top-bar {
	min-height: 80px;
	padding-top: 20px;
	background: transparent;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
}

p {
	color: #b3aeb5;
	line-height: 1.7;
	font-weight: 200;
}

.top-bar a {
	margin-right: 3.5%;
}
span.right {
	color: #b3aeb5;
	margin-right: 3.5%;
}

p.local-heading {
	font-size: 1.5em;
	font-weight: 500;
	color: #8d8690;
}

.dates-venues {
	color: #b3aeb5;
}

a.track-listing-title {
	font-size: .9em;
	text-align: center;
}

 .local-listing-headers {
 	margin-top: 30px;
 }
